{% extends "base.html" %}


{% block content %}

<h1>Barbel Workouts</h1>
<div class = "workout-list-barbel">
    {% if barbels %}
        <table id = "workout-barbel-table">
            <thead>
                <tr>
                    <th>Workout Name</th>
                    <th>Region</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for barbel in barbels %}
                <tr>
                    <td>{{ barbel.workout_name }}</td>
                    <td>{{ barbel.region }}</td>
                    <td>{{ barbel.info }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No workouts found.</p>
    {% endif %}
</div>
{% endblock content %}
    
