{% extends "base.html" %}


{% block content %}

<h1>Machine Workouts</h1>
<div class = "workout-list-machine">
    {% if machines %}
        <table id = "workout-machine-table">
            <thead>
                <tr>
                    <th>Workout Name</th>
                    <th>Region</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for machine in machines %}
                <tr>
                    <td>{{ machine.workout_name }}</td>
                    <td>{{ machine.region }}</td>
                    <td>{{ machine.info }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No workouts found.</p>
    {% endif %}
</div>
{% endblock content %}
    
