{% extends "base.html" %}


{% block content %}

<h1>Arm Workouts</h1>
<div class = "workout-list-arms">
    {% if arms %}
        <table id = "workout-arm-table">
            <thead>
                <tr>
                    <th>Workout Name</th>
                    <th>Equipment</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for arm in arms %}
                <tr>
                    <td>{{ arm.workout_name }}</td>
                    <td>{{ arm.equipment }}</td>
                    <td>{{ arm.info }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No workouts found.</p>
    {% endif %}
</div>
{% endblock content %}
    
