{% extends "base.html" %}


{% block content %}

<h1>Back Workouts</h1>
<div class = "workout-list-back">
    {% if backs %}
        <table id = "workout-back-table">
            <thead>
                <tr>
                    <th>Workout Name</th>
                    <th>Equipment</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for back in backs %}
                <tr>
                    <td>{{ back.workout_name }}</td>
                    <td>{{ back.equipment }}</td>
                    <td>{{ back.info }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No workouts found.</p>
    {% endif %}
</div>
{% endblock content %}
    
