{% extends "base.html" %}


{% block content %}

<h1>Cardio Workouts</h1>
<div class = "workout-list-cardio">
    {% if cardios %}
        <table id = "workout-cardio-table">
            <thead>
                <tr>
                    <th>Workout Name</th>
                    <th>Equipment</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for cardio in cardios %}
                <tr>
                    <td>{{ cardio.workout_name }}</td>
                    <td>{{ cardio.equipment }}</td>
                    <td>{{ cardio.info }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No workouts found.</p>
    {% endif %}
</div>
{% endblock content %}
    
