{% extends "base.html" %}


{% block content %}

<h1>ETC Workouts</h1>
<div class = "workout-list-etc">
    {% if etcs %}
        <table id = "workout-etc-table">
            <thead>
                <tr>
                    <th>Workout Name</th>
                    <th>Equipment</th>
                    <th>Info</th>
                </tr>
            </thead>
            <tbody>
                {% for etc in etcs %}
                <tr>
                    <td>{{ etc.workout_name }}</td>
                    <td>{{ etc.equipment }}</td>
                    <td>{{ etc.info }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>데이터를 찾을 수 없습니다.</p>
    {% endif %}
</div>
{% endblock content %}
    
